.container {
  width: 375px;
  height: 100vh;
  margin: auto;
  background: #f7f8f9;
  position: relative;
}

.bottom-content {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding: 20px;
}

.bottom-content h1 {
  color: #1d2226;
  font-size: 28px;
  margin-bottom: 10px;
}

.bottom-content p {
  color: #6c757d;
  margin-bottom: 20px;
  line-height: 1.5;
}

.primary-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: #6c25ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.secondary-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  background: #cebafb;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  background: #cbcbcb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}